@{
   ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <h1>Exámen Final</h1>
   <p class="lead">Utilización de patrones y principios:</p>
   <p class="lead">MVC, DRY, ADO.NET (similar a JDBC), DTO (para envio de datos al DAL)</p>
</div>

@*<div class="row">
   <div class="col-md-4">
      <h2>Create an Account</h2>
      <p><a class="btn btn-default" href="/Account/Create">Create</a></p>
   </div>
   <div class="col-md-4">
      <h2>Login</h2>
      <p><a class="btn btn-default" href="/Account/Login">Login</a></p>
   </div>
   <div class="col-md-4">
      <h2>Logout</h2>
      <p><a class="btn btn-default" href="/Account/Logout">Logout</a></p>
   </div>
   <div class="col-md-4">
      <h2>Update Account</h2>
      <p><a class="btn btn-default" href="/Account/Update">Update</a></p>
   </div>
   <div class="col-md-4">
      <h2>Create Item</h2>
      <p><a class="btn btn-default" href="/Catalog/Create">Create</a></p>
   </div>
   <div class="col-md-4">
      <h2>Browse Catalog</h2>
      <p><a class="btn btn-default" href="/Catalog/Find">Browse</a></p>
   </div>
</div>*@